@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700&display=swap);





body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #41a85f !important;
}
.bg-success {
  background-color: #41a85f !important;
}
.bg-info {
  background-color: #bfcecb !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #41a85f;
  border-color: #41a85f;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #2c7140;
  border-color: #2c7140;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2c7140 !important;
  border-color: #2c7140 !important;
}
.btn-secondary {
  background-color: #41a85f;
  border-color: #41a85f;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #2c7140;
  border-color: #2c7140;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #2c7140 !important;
  border-color: #2c7140 !important;
}
.btn-info {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-success {
  background-color: #41a85f;
  border-color: #41a85f;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #2c7140;
  border-color: #2c7140;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2c7140 !important;
  border-color: #2c7140 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #255e35;
  color: #255e35;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #41a85f;
  border-color: #41a85f;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #41a85f !important;
  border-color: #41a85f !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #255e35;
  color: #255e35;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #41a85f;
  border-color: #41a85f;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #41a85f !important;
  border-color: #41a85f !important;
}
.btn-info-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-success-outline {
  background: none;
  border-color: #255e35;
  color: #255e35;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #41a85f;
  border-color: #41a85f;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #41a85f !important;
  border-color: #41a85f !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #41a85f !important;
}
.text-success {
  color: #41a85f !important;
}
.text-info {
  color: #bfcecb !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #41a85f;
}
.alert-info {
  background-color: #bfcecb;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #41a85f;
}
.btn-social:hover {
  background: #41a85f;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #41a85f;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #41a85f;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #41a85f;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #41a85f;
}
.lead a,
.lead a:hover {
  color: #41a85f;
}
.lead blockquote {
  border-color: #41a85f;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #93d5a6;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #93d5a6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #41a85f;
}
.form-control {
  padding: 0.9rem;
}
.align-center {
  text-align: center;
}
.col,
.col-12,
.col-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}
form a.btn {
  margin: 0;
}
.mx-auto {
  margin: 0 auto;
}
section.custom-form .container,
section.form .container {
  display: flex;
}
.form-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
}
#menu-0 .navbar-toggler {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #ffffff;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #ffffff;
}
#menu-0 .link {
  font-size: 0.8rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #41a85f;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #0a0a0a;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #1b1b1b!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #232323;
}
#menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #41a85f;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #41a85f!important;
}
#slider-1 H2 {
  text-align: center;
  font-size: 46px;
}
#msg-box5-4 P {
  text-align: left;
}
#msg-box5-4 H3 {
  text-align: left;
  font-size: 22px;
}
#msg-box5-4 .btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
}
#features6-1p P {
  color: #000000;
}
#features6-1p H4 {
  color: #000000;
  font-size: 19px;
}
#header3-1x .mbr-section-title,
#header3-1x .mbr-section-subtitle {
  text-align: center;
}
#header3-1x .mbr-section-title {
  text-align: center;
}
#header3-1x .mbr-section-subtitle {
  text-align: center;
}
#contacts3-b H4 {
  color: #41a85f;
}
#contacts3-b STRONG {
  color: #41a85f;
}
#contacts3-b LI {
  color: #ffffff;
}
#contacts3-b .btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}
#contacts3-b SPAN {
  color: #41a85f;
  font-size: 16px;
}
#contacts3-b .list-group-text {
  color: #ffffff;
  font-size: 14px;
}
#contacts3-b .list-group-text B {
  color: #41a85f;
  font-size: 14px;
}
#contacts3-b P {
  color: #ffffff;
  font-size: 14px;
}
#contacts3-b B {
  color: #41a85f;
  font-size: 16px;
}

#menu-17 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-17 .navbar-caption {
  color: #ffffff;
}
#menu-17 .navbar-toggler {
  color: #ffffff;
}
#menu-17 .close-icon::before,
#menu-17 .close-icon::after {
  background-color: #ffffff;
}
#menu-17 .link,
#menu-17 .dropdown-item {
  color: #ffffff;
}
#menu-17 .link {
  font-size: 0.8rem;
}
#menu-17 .dropdown-item,
#menu-17 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-17 .link:hover,
#menu-17 .dropdown-item:hover,
#menu-17 .link:focus,
#menu-17 .dropdown-item:focus {
  color: #41a85f;
}
#menu-17 .link[aria-expanded="true"],
#menu-17 .dropdown-menu {
  background: #0a0a0a;
}
#menu-17 .nav-dropdown-sm .link:focus,
#menu-17 .nav-dropdown-sm .link:hover,
#menu-17 .nav-dropdown-sm .dropdown-item:focus,
#menu-17 .nav-dropdown-sm .dropdown-item:hover {
  background: #1b1b1b!important;
}
#menu-17 .navbar,
#menu-17 .nav-dropdown-sm,
#menu-17 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-17 .nav-dropdown-sm .dropdown-menu {
  background: #232323;
}
#menu-17 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-17 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-17 .bg-color.transparent.opened .link:hover,
#menu-17 .bg-color.transparent.opened .link:focus {
  color: #41a85f;
}
#menu-17 .link[aria-expanded="true"],
#menu-17 .dropdown-item[aria-expanded="true"] {
  color: #41a85f!important;
}
#msg-box3-19 .mbr-section-title,
#msg-box3-19 p {
  color: #000;
}
#msg-box3-19 .mbr-section-title {
  color: #ffffff;
}
#msg-box3-19 .lead P {
  color: #ffffff;
}
#msg-box3-19 .lead {
  text-align: left;
}
#msg-box3-19 .lead DIV {
  color: #ffffff;
}
#contacts3-18 H4 {
  color: #41a85f;
}
#contacts3-18 STRONG {
  color: #41a85f;
}
#contacts3-18 LI {
  color: #ffffff;
}
#contacts3-18 .btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}
#contacts3-18 SPAN {
  color: #41a85f;
  font-size: 16px;
}
#contacts3-18 .list-group-text {
  color: #ffffff;
  font-size: 14px;
}
#contacts3-18 .list-group-text B {
  color: #41a85f;
  font-size: 14px;
}
#contacts3-18 P {
  color: #ffffff;
  font-size: 14px;
}
#contacts3-18 B {
  color: #41a85f;
  font-size: 16px;
}

#menu-14 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-14 .navbar-caption {
  color: #ffffff;
}
#menu-14 .navbar-toggler {
  color: #ffffff;
}
#menu-14 .close-icon::before,
#menu-14 .close-icon::after {
  background-color: #ffffff;
}
#menu-14 .link,
#menu-14 .dropdown-item {
  color: #ffffff;
}
#menu-14 .link {
  font-size: 0.8rem;
}
#menu-14 .dropdown-item,
#menu-14 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-14 .link:hover,
#menu-14 .dropdown-item:hover,
#menu-14 .link:focus,
#menu-14 .dropdown-item:focus {
  color: #41a85f;
}
#menu-14 .link[aria-expanded="true"],
#menu-14 .dropdown-menu {
  background: #0a0a0a;
}
#menu-14 .nav-dropdown-sm .link:focus,
#menu-14 .nav-dropdown-sm .link:hover,
#menu-14 .nav-dropdown-sm .dropdown-item:focus,
#menu-14 .nav-dropdown-sm .dropdown-item:hover {
  background: #1b1b1b!important;
}
#menu-14 .navbar,
#menu-14 .nav-dropdown-sm,
#menu-14 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-14 .nav-dropdown-sm .dropdown-menu {
  background: #232323;
}
#menu-14 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-14 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-14 .bg-color.transparent.opened .link:hover,
#menu-14 .bg-color.transparent.opened .link:focus {
  color: #41a85f;
}
#menu-14 .link[aria-expanded="true"],
#menu-14 .dropdown-item[aria-expanded="true"] {
  color: #41a85f!important;
}
#msg-box3-16 .mbr-section-title,
#msg-box3-16 p {
  color: #000;
}
#msg-box3-16 .lead {
  color: #f3c649;
}
#msg-box3-16 .lead DIV {
  color: #ffffff;
  text-align: left;
}
#msg-box3-16 .mbr-section-title {
  color: #ffffff;
}
#msg-box3-16 .lead P {
  color: #ffffff;
  text-align: left;
}
#contacts3-15 H4 {
  color: #41a85f;
}
#contacts3-15 STRONG {
  color: #41a85f;
}
#contacts3-15 LI {
  color: #ffffff;
}
#contacts3-15 .btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}
#contacts3-15 SPAN {
  color: #41a85f;
  font-size: 16px;
}
#contacts3-15 .list-group-text {
  color: #ffffff;
  font-size: 14px;
}
#contacts3-15 .list-group-text B {
  color: #41a85f;
  font-size: 14px;
}
#contacts3-15 P {
  color: #ffffff;
  font-size: 14px;
}
#contacts3-15 B {
  color: #41a85f;
  font-size: 16px;
}

#menu-x .hide-buttons .nav-btn {
  display: none !important;
}
#menu-x .navbar-caption {
  color: #ffffff;
}
#menu-x .navbar-toggler {
  color: #ffffff;
}
#menu-x .close-icon::before,
#menu-x .close-icon::after {
  background-color: #ffffff;
}
#menu-x .link,
#menu-x .dropdown-item {
  color: #ffffff;
}
#menu-x .link {
  font-size: 0.8rem;
}
#menu-x .dropdown-item,
#menu-x .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-x .link:hover,
#menu-x .dropdown-item:hover,
#menu-x .link:focus,
#menu-x .dropdown-item:focus {
  color: #41a85f;
}
#menu-x .link[aria-expanded="true"],
#menu-x .dropdown-menu {
  background: #0a0a0a;
}
#menu-x .nav-dropdown-sm .link:focus,
#menu-x .nav-dropdown-sm .link:hover,
#menu-x .nav-dropdown-sm .dropdown-item:focus,
#menu-x .nav-dropdown-sm .dropdown-item:hover {
  background: #1b1b1b!important;
}
#menu-x .navbar,
#menu-x .nav-dropdown-sm,
#menu-x .nav-dropdown-sm .link[aria-expanded="true"],
#menu-x .nav-dropdown-sm .dropdown-menu {
  background: #232323;
}
#menu-x .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-x .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-x .bg-color.transparent.opened .link:hover,
#menu-x .bg-color.transparent.opened .link:focus {
  color: #41a85f;
}
#menu-x .link[aria-expanded="true"],
#menu-x .dropdown-item[aria-expanded="true"] {
  color: #41a85f!important;
}
#msg-box5-z H3 {
  font-size: 30px;
}
#msg-box5-z P {
  color: #ffffff;
}
#msg-box5-z DIV {
  color: #ffffff;
}
#form1-10 .form-control-label {
  color: #232323;
}
#contacts3-y H4 {
  color: #41a85f;
}
#contacts3-y STRONG {
  color: #41a85f;
}
#contacts3-y LI {
  color: #ffffff;
}
#contacts3-y .btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}
#contacts3-y SPAN {
  color: #41a85f;
  font-size: 16px;
}
#contacts3-y .list-group-text {
  color: #ffffff;
  font-size: 14px;
}
#contacts3-y .list-group-text B {
  color: #41a85f;
  font-size: 14px;
}
#contacts3-y P {
  color: #ffffff;
  font-size: 14px;
}
#contacts3-y B {
  color: #41a85f;
  font-size: 16px;
}

#menu-s .hide-buttons .nav-btn {
  display: none !important;
}
#menu-s .navbar-caption {
  color: #ffffff;
}
#menu-s .navbar-toggler {
  color: #ffffff;
}
#menu-s .close-icon::before,
#menu-s .close-icon::after {
  background-color: #ffffff;
}
#menu-s .link,
#menu-s .dropdown-item {
  color: #ffffff;
}
#menu-s .link {
  font-size: 0.8rem;
}
#menu-s .dropdown-item,
#menu-s .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-s .link:hover,
#menu-s .dropdown-item:hover,
#menu-s .link:focus,
#menu-s .dropdown-item:focus {
  color: #41a85f;
}
#menu-s .link[aria-expanded="true"],
#menu-s .dropdown-menu {
  background: #0a0a0a;
}
#menu-s .nav-dropdown-sm .link:focus,
#menu-s .nav-dropdown-sm .link:hover,
#menu-s .nav-dropdown-sm .dropdown-item:focus,
#menu-s .nav-dropdown-sm .dropdown-item:hover {
  background: #1b1b1b!important;
}
#menu-s .navbar,
#menu-s .nav-dropdown-sm,
#menu-s .nav-dropdown-sm .link[aria-expanded="true"],
#menu-s .nav-dropdown-sm .dropdown-menu {
  background: #232323;
}
#menu-s .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-s .bg-color.transparent.opened .link:hover,
#menu-s .bg-color.transparent.opened .link:focus {
  color: #41a85f;
}
#menu-s .link[aria-expanded="true"],
#menu-s .dropdown-item[aria-expanded="true"] {
  color: #41a85f!important;
}
#msg-box5-u P {
  color: #ffffff;
}
#msg-box5-u H3 {
  color: #ffffff;
}
#msg-box5-u DIV {
  font-size: 36px;
}
#contacts3-t H4 {
  color: #41a85f;
}
#contacts3-t STRONG {
  color: #41a85f;
}
#contacts3-t LI {
  color: #ffffff;
}
#contacts3-t .btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}
#contacts3-t SPAN {
  color: #41a85f;
  font-size: 16px;
}
#contacts3-t .list-group-text {
  color: #ffffff;
  font-size: 14px;
}
#contacts3-t .list-group-text B {
  color: #41a85f;
  font-size: 14px;
}
#contacts3-t P {
  color: #ffffff;
  font-size: 14px;
}
#contacts3-t B {
  color: #41a85f;
  font-size: 16px;
}

#menu-k .hide-buttons .nav-btn {
  display: none !important;
}
#menu-k .navbar-caption {
  color: #ffffff;
}
#menu-k .navbar-toggler {
  color: #ffffff;
}
#menu-k .close-icon::before,
#menu-k .close-icon::after {
  background-color: #ffffff;
}
#menu-k .link,
#menu-k .dropdown-item {
  color: #ffffff;
}
#menu-k .link {
  font-size: 0.8rem;
}
#menu-k .dropdown-item,
#menu-k .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-k .link:hover,
#menu-k .dropdown-item:hover,
#menu-k .link:focus,
#menu-k .dropdown-item:focus {
  color: #41a85f;
}
#menu-k .link[aria-expanded="true"],
#menu-k .dropdown-menu {
  background: #0a0a0a;
}
#menu-k .nav-dropdown-sm .link:focus,
#menu-k .nav-dropdown-sm .link:hover,
#menu-k .nav-dropdown-sm .dropdown-item:focus,
#menu-k .nav-dropdown-sm .dropdown-item:hover {
  background: #1b1b1b!important;
}
#menu-k .navbar,
#menu-k .nav-dropdown-sm,
#menu-k .nav-dropdown-sm .link[aria-expanded="true"],
#menu-k .nav-dropdown-sm .dropdown-menu {
  background: #232323;
}
#menu-k .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-k .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-k .bg-color.transparent.opened .link:hover,
#menu-k .bg-color.transparent.opened .link:focus {
  color: #41a85f;
}
#menu-k .link[aria-expanded="true"],
#menu-k .dropdown-item[aria-expanded="true"] {
  color: #41a85f!important;
}
#header5-m .mbr-section-title {
  color: #ffffff;
  font-size: 36px;
}
#header5-m .mbr-section-lead {
  color: #ffffff;
  font-size: 21px;
}
#header3-o .mbr-section-title,
#header3-o .mbr-section-subtitle {
  text-align: center;
}
#content1-p DIV {
  text-align: center;
}
#content2-q DIV {
  text-align: center;
}
#content1-r P {
  text-align: center;
}
#content1-r DIV {
  text-align: center;
}
#form1-n .form-control-label {
  color: #232323;
}
#contacts3-l H4 {
  color: #41a85f;
}
#contacts3-l STRONG {
  color: #41a85f;
}
#contacts3-l LI {
  color: #ffffff;
}
#contacts3-l .btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}
#contacts3-l SPAN {
  color: #41a85f;
  font-size: 16px;
}
#contacts3-l .list-group-text {
  color: #ffffff;
  font-size: 14px;
}
#contacts3-l .list-group-text B {
  color: #41a85f;
  font-size: 14px;
}
#contacts3-l P {
  color: #ffffff;
  font-size: 14px;
}
#contacts3-l B {
  color: #41a85f;
  font-size: 16px;
}

#menu-5 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-5 .navbar-caption {
  color: #ffffff;
}
#menu-5 .navbar-toggler {
  color: #ffffff;
}
#menu-5 .close-icon::before,
#menu-5 .close-icon::after {
  background-color: #ffffff;
}
#menu-5 .link,
#menu-5 .dropdown-item {
  color: #ffffff;
}
#menu-5 .link {
  font-size: 0.8rem;
}
#menu-5 .dropdown-item,
#menu-5 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-5 .link:hover,
#menu-5 .dropdown-item:hover,
#menu-5 .link:focus,
#menu-5 .dropdown-item:focus {
  color: #41a85f;
}
#menu-5 .link[aria-expanded="true"],
#menu-5 .dropdown-menu {
  background: #0a0a0a;
}
#menu-5 .nav-dropdown-sm .link:focus,
#menu-5 .nav-dropdown-sm .link:hover,
#menu-5 .nav-dropdown-sm .dropdown-item:focus,
#menu-5 .nav-dropdown-sm .dropdown-item:hover {
  background: #1b1b1b!important;
}
#menu-5 .navbar,
#menu-5 .nav-dropdown-sm,
#menu-5 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-5 .nav-dropdown-sm .dropdown-menu {
  background: #232323;
}
#menu-5 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-5 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-5 .bg-color.transparent.opened .link:hover,
#menu-5 .bg-color.transparent.opened .link:focus {
  color: #41a85f;
}
#menu-5 .link[aria-expanded="true"],
#menu-5 .dropdown-item[aria-expanded="true"] {
  color: #41a85f!important;
}
#msg-box5-9 H3 {
  color: #ffffff;
  font-size: 36px;
}
#msg-box5-9 P {
  color: #ffffff;
}
#msg-box2-13 .mbr-section-title {
  color: #000000;
  font-size: 46px;
}
#msg-box2-13 .mbr-section-subtitle {
  color: #a0a0a0;
}
#contacts3-6 H4 {
  color: #41a85f;
}
#contacts3-6 STRONG {
  color: #41a85f;
}
#contacts3-6 LI {
  color: #ffffff;
}
#contacts3-6 .btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}
#contacts3-6 SPAN {
  color: #41a85f;
  font-size: 16px;
}
#contacts3-6 .list-group-text {
  color: #ffffff;
  font-size: 14px;
}
#contacts3-6 .list-group-text B {
  color: #41a85f;
  font-size: 14px;
}
#contacts3-6 P {
  color: #ffffff;
  font-size: 14px;
}
#contacts3-6 B {
  color: #41a85f;
  font-size: 16px;
}

#menu-a .hide-buttons .nav-btn {
  display: none !important;
}
#menu-a .navbar-caption {
  color: #ffffff;
}
#menu-a .navbar-toggler {
  color: #ffffff;
}
#menu-a .close-icon::before,
#menu-a .close-icon::after {
  background-color: #ffffff;
}
#menu-a .link,
#menu-a .dropdown-item {
  color: #ffffff;
}
#menu-a .link {
  font-size: 0.8rem;
}
#menu-a .dropdown-item,
#menu-a .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-a .link:hover,
#menu-a .dropdown-item:hover,
#menu-a .link:focus,
#menu-a .dropdown-item:focus {
  color: #41a85f;
}
#menu-a .link[aria-expanded="true"],
#menu-a .dropdown-menu {
  background: #0a0a0a;
}
#menu-a .nav-dropdown-sm .link:focus,
#menu-a .nav-dropdown-sm .link:hover,
#menu-a .nav-dropdown-sm .dropdown-item:focus,
#menu-a .nav-dropdown-sm .dropdown-item:hover {
  background: #1b1b1b!important;
}
#menu-a .navbar,
#menu-a .nav-dropdown-sm,
#menu-a .nav-dropdown-sm .link[aria-expanded="true"],
#menu-a .nav-dropdown-sm .dropdown-menu {
  background: #232323;
}
#menu-a .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-a .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-a .bg-color.transparent.opened .link:hover,
#menu-a .bg-color.transparent.opened .link:focus {
  color: #41a85f;
}
#menu-a .link[aria-expanded="true"],
#menu-a .dropdown-item[aria-expanded="true"] {
  color: #41a85f!important;
}
#msg-box8-f .mbr-section-title,
#msg-box8-f p {
  color: #fff;
}
#msg-box8-f .mbr-section-title {
  font-size: 25px;
}
#msg-box8-f .lead P {
  font-size: 15px;
}
#msg-box5-g H3 {
  font-size: 25px;
}
#msg-box5-h H3 {
  font-size: 25px;
}
#msg-box5-i H3 {
  font-size: 25px;
}
#msg-box5-j H3 {
  font-size: 25px;
}
#msg-box5-1n H3 {
  font-size: 25px;
}
#features7-d .card-subtitle {
  color: #bcbcbc;
}
#features7-d .iconbox {
  background-color: #41a85f;
  border-color: #41a85f;
}
#features7-d H4 {
  font-size: 16px;
}
#msg-box5-w P {
  text-align: left;
  font-size: 15px;
}
#msg-box5-w H3 {
  text-align: left;
  font-size: 25px;
}
#contacts3-b H4 {
  color: #41a85f;
}
#contacts3-b STRONG {
  color: #41a85f;
}
#contacts3-b LI {
  color: #ffffff;
}
#contacts3-b .btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}
#contacts3-b SPAN {
  color: #41a85f;
  font-size: 16px;
}
#contacts3-b .list-group-text {
  color: #ffffff;
  font-size: 14px;
}
#contacts3-b .list-group-text B {
  color: #41a85f;
  font-size: 14px;
}
#contacts3-b P {
  color: #ffffff;
  font-size: 14px;
}
#contacts3-b B {
  color: #41a85f;
  font-size: 16px;
}
